:root {
  --color-primary: #9d8d6c;
  --color-secondary: #001f35;

  --tipo-primary: "Open Sans Condensed", sans-serif;
  --tipo-seondary: "Open Sans", sans-serif;

  --color-logo: #9d8d6c;
  --color-background: #000;
  --font-header: "Times New Roman", cursive;

  --color-social-icons: #000;
  --color-whatsapp: hsl(134, 100%, 37%);
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-linkedin: #0a66c2;

  --step--2: clamp(0.69rem, 0.65rem + 0.21vw, 0.8rem);
  --step--1: clamp(0.83rem, 0.77rem + 0.33vw, 1rem);
  --step-0: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
}
