* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --color-social-icons: #000; */
  --color-whatsapp: hsl(134, 100%, 37%);
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-linkedin: #0a66c2;
}

<<<<<<< HEAD
/* último cambio antes de crear la 2° rama*/
footer {
  max-width: fit-content;
}
/* -------  */

/*todo Cambio después de crear la 2° rama para hacer el merge con Master  */

=======
>>>>>>> segundaRama
/* 2da. rama cambio */
footer {
  max-width: fit-content;
}
/* fin del cambio  */

/*: Cambio después de crear la 2° rama para hacer el merge con Master  */
.cambios_2daRma {
  display: flexbox;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD
.cambios_2daRma {
  display: flexbox;
  justify-content: center;
  align-items: center;
}
=======
/*_:-------------- */
>>>>>>> segundaRama
