::after,
::vefore,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  object-fit: cover;

  display: block;
  object-position: center center;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
