::after,
::vefore,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;

  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
