::after,
::vefore,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* último cambio antes de crear la 2° rama*/
.header {
  width: 100%;
  position: relative;
  color: #4f4f4f;
}
/* ----------  */

<<<<<<< HEAD
/*todo Cambio después de crear la 2° rama para hacer el merge con Master  */

=======
/*: Cambio después de crear la 2° rama para hacer el merge con Master  */
>>>>>>> segundaRama
.cambios_2daRma {
  display: flexbox;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD
/* todo -------------- */
=======
/*_:-------------- */
>>>>>>> segundaRama

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  object-fit: cover;

  display: block;
  object-position: center center;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
