*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-logo: #9d8d6c;
  --color-background: #173a4b;
  --font-header: "Times New Roman", cursive;
  --color-text: #27607c;
  --color-white: #ffffff;
  --color-azulObscuro: #1c3643;
  --color-orange: #e86b19;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;

  --step--2: clamp(0.69rem, 0.65rem + 0.21vw, 0.8rem);
  --step--1: clamp(0.83rem, 0.77rem + 0.33vw, 1rem);
  --step-0: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
}
body {
  font-family: "Open Sans condensed", sans-serif;
}
/*: Comienzo de header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.625em 3.125em;
  background-color: var(--color-background);
  font-family: var(--font-header);
}
.header-container {
  display: grid;
  grid-template-areas: "profile phone";
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
}
.profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  justify-self: self-start;
}
.logo img {
  border-radius: 50%;
}
.logotext {
  margin-left: 1em;
  font-size: var(--step--1);
  color: var(--color-logo);
  font-weight: 500;
}
.logotext span {
  font-style: italic;
  text-align: center;
  letter-spacing: 0.05em;
}
.logotext span,
.phone {
  font-size: var(--step--2);
  color: var(--color-logo);
}
.phone {
  grid-area: phone;
  justify-self: flex-end;
  align-self: center;
}
.phone [class*="fa fa-"]:before {
  color: whitesmoke;
  top: 0.125em;
  right: 0.3em;
  margin-right: 0.3em;
}
.phone p {
  font-style: italic;
  letter-spacing: 0.05em;
}

section.workArea {
  width: 80%;
  height: 500px;
  margin: 96px auto;
}

.workArea-titulo {
  text-align: center;
  color: var(--color-logo);
  margin: 1rem auto;
  padding: 1rem 0;
}
.workArea-subtitulo {
  text-align: center;
  color: var(--color-text);
  margin: 3rem auto;
}

.workArea-container {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.workArea-container p {
  flex-direction: column;
  flex-wrap: wrap;
}
.workArea-container input,
.workArea-container button {
  background: var(--color-azulObscuro);
  color: var(--color-logo);
  padding: 10px 10px;
}
.workArea-container button {
  border: none;
  border-radius: 5px;
}
.workArea-container::placeholder {
  color: var(color-white);
}
