@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700&display=swap");
/*
  * CSS Reset
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
:root {
  --color-primary: #9d8d6c;
  --color-secondary: #001f35;

  --tipo-primary: "Open Sans Condensed", sans-serif;
  --tipo-seondary: "Open Sans", sans-serif;

  --color-main: #ff4c00;
  --color-hardblue: #1c3643;
  --color-middleblue: #273b47;
  --color-lightblue: #1e5372;
  --color-text: #010b13;

  --color-social-icons: #000;
  --color-whatsapp: hsl(134, 100%, 37%);
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-linkedin: #0a66c2;

  --step--4: clamp(0.48rem, 0.47rem + 0.06vw, 0.51rem);
  --step--3: clamp(0.58rem, 0.55rem + 0.12vw, 0.64rem);
  --step--2: clamp(0.69rem, 0.65rem + 0.21vw, 0.8rem);
  --step--1: clamp(0.83rem, 0.77rem + 0.33vw, 1rem);
  --step-0: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.06rem + 0.71vw, 1.56rem);
  --step-2: clamp(1.44rem, 1.24rem + 1vw, 1.95rem);
  --step-3: clamp(1.73rem, 1.45rem + 1.39vw, 2.44rem);
  --step-4: clamp(2.07rem, 1.69rem + 1.91vw, 3.05rem);
  --step-5: clamp(2.49rem, 1.97rem + 2.59vw, 3.82rem);
}

/* Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #001f35;
    --color-secundario: #9d8d6c;
  }
} */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primario: black;
    --color-secundario: white;
  }
}

/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  /* width: 100%; */
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
