*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-logo: #9d8d6c;
  --color-background: #173a4b;
  --font-header: "Times New Roman", cursive;
  --color-text: #27607c;
  --color-white: #ffffff;
  --color-azulObscuro: #1c3643;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
  --step--4: clamp(0.48rem, 0.47rem + 0.06vw, 0.51rem);
  --step--2: clamp(0.69rem, 0.65rem + 0.21vw, 0.8rem);
  --step--1: clamp(0.83rem, 0.77rem + 0.33vw, 1rem);
  --step-0: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);

  /* color-scheme: light; */
}
body {
  font-family: "Open Sans condensed", sans-serif;
}
/* Dark/light mode */
@media (prefers-color-scheme: dark) {
  root {
    color-scheme: dark;
  }
}

/*: Comienzo de header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.625em 3.125em;
  background-color: var(--color-background);
  font-family: var(--font-header);
}
.header-container {
  display: grid;
  grid-template-areas: "profile phone";
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
}
.profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  justify-self: self-start;
}
.logo img {
  border-radius: 50%;
}
.logotext {
  margin-left: 1em;
  font-size: var(--step--1);
  color: var(--color-logo);
  font-weight: 500;
}
.logotext span {
  font-style: italic;
  text-align: center;
  letter-spacing: 0.05em;
}
.logotext span,
.phone {
  font-size: var(--step--2);
  color: var(--color-logo);
}
.phone {
  grid-area: phone;
  justify-self: flex-end;
  align-self: center;
}
.phone [class*="fa fa-"]:before {
  color: whitesmoke;
  top: 0.125em;
  right: 0.3em;
  margin-right: 0.3em;
}
.phone p {
  font-style: italic;
  letter-spacing: 0.05em;
}

.border-grey {
  border: 1px dotted grey;
}

nav ul {
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  position: relative;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav ul li {
  margin: 3rem 1rem;
}

nav ul li a {
  font-size: var(--step-2);
  color: var(--color-logo);
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
}

nav ul li a:hover {
  opacity: 0.5;
}

[id="color"] {
  scroll-margin-top: 15ex;
  scroll-behavior: smooth;
}
section.areaTrabajo {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
}

.areaTrabajo .titulo {
  text-align: center;
  color: var(--color-logo);
  margin: 20px auto;
}

.container-color {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-color .subtitulo {
  text-align: center;
  color: var(--color-text);
  margin: 20px auto 40px;
}

.colorBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.color-bg,
.color-bg-variant,
.color-primary,
.color-primary-variant {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.color-bg {
  background-color: tomato;
}

.color-bg-variant {
  background-color: rgba(255, 99, 71, 0.5);
}

.color-primary {
  background-color: #4db5ff;
}

.color-primary-variant {
  background-color: rgba(77, 181, 255, 0.5);
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

[id="contact"] {
  scroll-margin-top: 10ex;
  scroll-behavior: smooth;
}

.contact {
  padding: 4rem 0 4rem 0;
  background: var(--color-text);
}
.contact h2 {
  text-align: center;
  color: var(--color-logo);
  margin: 0 auto 20px;
}

.containerForm {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.contact__container {
  background: white;
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
  border-radius: 1rem;
}

.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form__name {
  display: flex;
  gap: 1.2rem;
}

.contact__form input[type="text"] {
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.2rem;
  background: var(--color-azulObscuro);
  color: var(--color-logo);
}

.contact .btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid var(--color-azulObscuro);

  font-weight: 500;
  border-radius: 5px;
  transition: (--transiction);
}

.contact .btn {
  width: max-content;
  margin-top: 0;
  cursor: pointer;
}

.contact .btn:hover {
  background: var(--color-azulMedio);
  color: var(--white-color);
}

.contact .btn-primary {
  background: var(--color-text);
  color: var(--color-logo);
}

article {
  width: 100%;
  justify-content: center;
  color: var(--color-logo);
  padding: 20px;
}

article h3 {
  margin: 10px 0;
}

#form {
  cursor: pointer;
}

.classFooter {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  font-size: var(--step--2);
  background: var(--color-text);
  color: grey;
  bottom: 0;
}

/*  Buttons component */
[id="util"] {
  scroll-margin-top: 5ex;
  scroll-behavior: smooth;
}
.evento-btnBx {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.evento-btnBx .evento-btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--color-azulObscuro);
  transition: (--transiction);
}

.evento-btnBx .evento-btn:hover {
  background: var(--color-logo);
  color: var(--color-azulObscuro);
  border-color: transparent;
}

.evento-btnBx .evento-btn-primary {
  background: var(--color-azulObscuro);
  color: var(--color-logo);
}

/*: Media queries & responsive design  */
@media screen and (max-width: 768px) {
  .colorBx {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 0.625em 1.25em;
    box-shadow: 0 0 0.05em cyan;
  }

  .areaTrabajo .titulo,
  .areatRabajo .subtitulo {
    font-size: var(--step-1);
  }
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .logotext {
    margin: 0.3em auto 0;
  }
  .contact__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 414px) {
  header {
    box-shadow: 0 0 0.05em cyan;
  }
  .header-container {
    padding: 0.625em 0.625em;
  }
}
